<% story     = Storying::Story.new %>
<% hero 	 = story.hero %>
<% support   = story.supporting_character = Storying::SupportingCharacter.new(:gender => hero.opposite_sex) %>
<% villain   = story.villain = Storying::SupportingCharacter.new(:gender => hero.gender, :story => story) %>

<% villain_name = villain.female?? villain.name : villain.last_name %>

<% ship = Storying.space_ship_names.random_pop %>
<% evil_ship = Storying.space_ship_names.random_pop %>

<% technology_1 = Storying.space_technologies.random_pop %>
<% technology_2 = Storying.space_technologies.random_pop %>

<% setting = Storying.space_settings.random %>
<% faction = Storying.space_factions.random %>
<% num_years = (1..10).random.to_s + " thousand" %>

<p>Captain <%= hero.full_name %> is about to save the universe... or destroy it.</p>

<p>Aboard <%= hero.possessive_pronoun %> ship <em><%= ship %></em>, <%= hero.personal_pronoun %> receives a distress call from <%= setting %>. After <%= num_years %> years, the <%= faction %> have awoken. The survivors report: <em>fleet is huge... with deadly <%= technology_1 %>... nightmarish <%= technology_2 %>... but in their zeal for blood and carbon... they have, for just a moment... left their flagship undefended.</em></p>

<p>The <em><%= ship %></em> has her target.</p>

<p>But what Captain <%= hero.name %> doesn't know is that <%= hero.possessive_pronoun %> first officer <%= support.name %> 22 is hiding a secret that might end their mission before it begins. <%= support.possessive_pronoun.capitalize %> <%= villain.noun_as_parent %>, the dread pirate <%= villain_name %>, still holds <%= villain.possessive_pronoun %> <%= support.noun_as_child %> in <%= villain.possessive_pronoun %> thrall&mdash;and <%= villain_name %> has plans of <%= villain.possessive_pronoun %> own.</p>

<p>So as the <em><%= ship %></em> races the pirate <%= villain.noun_as_ruler %>'s black-hulled <em><%= evil_ship %></em> towards the <%= faction%> flagship, the fate of the universe hangs by two threads. The bond between <%= villain.noun_as_parent %> and <%= support.noun_as_child %> will be tested against the one between captain and crew&mdash;and testing them all will be the bottomless hunger of the <%= faction%>.

<p>It's time to fly.</p>