<% story = Storying::Story.new %>

<p> intro

  It was once said without irony that *<% Storying.uncanny_philosophies.random_pop %>*. It's always been terribly untrue, of course, and has been scientifically disproved by the most recent work from the <% Storying.uncanny_phrase.random_pop%> Magazine. Yet, when the uncannies began to surface, common usage of the phrase only increased, and was within 3 years fully transformed into a dark warning. Because uncannies, like your run-of-the-mill serial killers, have been generally perceived as the most normal of folk with few exceptions. Likely for the same reason as well: because the uncannies often sense at a young age (well before their true talents develop) that they will one day be understood as the truest threat faced by an ordered society.
</p>

<p>
  It concerns two: <%= story.supporting_character.full_name %>, by age <%= (5..10).random %> began having regular dreams of <% Storying.uncanny_skills.random_pop %> and by early adulthood was, in secret and on regular, practicing intermediate management of <% story.supporting_character.gift_type%>. <%= supporting_character.Possessive_pronoun %> parents had no abilities, and uncanniologists have been unable to confirm any particular talents within two branches of the <%= story.supporting_character.last_name %> line.
</p>

<p>
  The second is <%= story.hero.full_name %>, who would become first order of <% @gift_type %> at age <%(22..32).random%>. As is widely known, <%= story.hero.first_name %>, perceived no great talent until a near-drowning at age <%(15..20)%>, and within 6 months had, without formal training or learning, fully mastered skills of <% Storying.uncanny_skills.random_pop %> and <% Storying.uncanny_skills.random_pop %>. (And yet, may we not describe the early life of <%= story.hero.first_name %> as one almost comically devoted to the avoidance of just those situations that often force these abilities to the future)?
</p>

<p>
   Through various circumstances (additional background can be found in the early issues of <% Storying.uncanny_phrase.random_pop%>) Monthly), <%= story.supporting_character.first_name %> quickly become the primary <%= Storying.relationships_to_character.random %> to <%= story.hero.first_name %>, and both gained general infamy in the summer regions. Unbeknownst to the other, both decided privately to seek the glory promised in the first Scroll of the <% Storying.uncanny_phrase.random_pop%>, and followed the solstice map they arrived, within hours of each other, at a now-well-known <%= Storying.settings.random %>.
</p>

<p>
  <%= story.supporting_character.first_name %> arrived first, and came upon the Cave of Unmanageable <%= @story.magic_element %>, which had destroyed many in quite gruesome ways.

   <% if story.supporting_character.can_handle_element %> Given <%= story.supporting_character.full_name %> strong mastery of @gift_type, <%= supporting_character.personal_pronoun %> did pass through the Cave, gaining the Cloak of <% Storying.uncanny_elements %> and losing only one limb, that lay at the Cave's entrance unrotting and alerting all others to the great triumph of the day.
  <% else %>

  Though <%= story.supporting_character.first_name %> was not blessed with master of <% @story.magic_element %>, <%= supporting_character.personal_pronoun %> thought <%= supporting_character.posessive_pronoun %> general abilities sufficient and pushed forward to a quick and gruesome death, <%= supporting_character.posessive_pronoun %> body left at the mouth of the cave as warning.

  <% end %>
</p>

<p>
  When <%= story.hero.first_name %> came upon the scene, it is said <%= hero.personal_pronoun %> wept for two hours, and bottled the tears to later make the Elixir of <% Storying.uncanny_phrase.random_pop%> that features so prominently in <%story.full_name%>'s best-selling  <% Storying.uncanny_phrase.random_pop%>: An Observers Tale.

  <% if @hero.can_handle_element %> With <%= story.supporting_character.full_name %> strong mastery of @gift_type, <%= supporting_character.personal_pronoun %> stepped past the flesh and cleaned the cave of all remaining <% Storying.uncanny_phrase.random_pop%>, winning the favor of the nearby villagers.
  <% else %>

  Though <%= story.supporting_character.first_name %> had not the gift of <% @story.magic_element %>, <%= story.supporting_character.possessive %> general excellence allowed <%= story.supporting_character.personal_pronoun %> to reclaim the abandoned flesh of <%= story.supporting_character.first_name %>, the use of which would come back to haunt us all in the next age.
  <% end %>
</p>

<p>
There's much more to tell of this story, but I do think this brief sketch gives a basic introduction for those interested in understanding the complicated relationship between the <%= story.supporting_character.last_name %> and <%= story.hero.last_name %> families.
</p>

